* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Import the downloaded font */
@font-face {
  font-family: "ocr extended";
  src: url(../fonts/OCR\ A\ Extended\ Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #41413F;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#FF9AC4, #2BFFE4);
  clip-path: circle(50% at 12% 50%);
}

.card {
  width: 506px;
  height: 319px;
  position: relative;
  background: radial-gradient(
    140% 140% at 0% 0%,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-top: 1px solid #eeeded70;
  border-left: 1px solid #eeeded70;
  border-radius: 30px;
  backdrop-filter: blur(30px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.bank {
  color: #ffffff;
  font-size: 28px;
  font-family: "Mulish", sans-serif;
  position: absolute;
  top: 30px;
  right: 30px;
}

.chip {
  width: 50px;
  position: absolute;
  top: 100px;
  left: 40px;
}

.indicator {
  width: 50px;
  position: absolute;
  top: 100px;
  left: 100px;
}

.number {
  color: #ffffff;
  font-size: 36px;
  font-family: "ocr extended";
  font-weight: 400;
  position: absolute;
  bottom: 100px;
  left: 30px;
}

.card-holder {
  color: #ffffff;
  font-size: 14px;
  font-family: cursive;
  font-weight: 700;
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-transform: uppercase;
}

.card-holder span {
  font-size: 10px;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
}

.valid {
  color: #ffffff;
  font-size: 18px;
  font-family: "ocr extended";
  font-weight: 400;
  position: absolute;
  bottom: 30px;
  left: 220px;
  text-transform: uppercase;
}

.valid span {
  font-size: 10px;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
}

.logo {
  width: 70px;
  position: absolute;
  right: 30px;
  bottom: 30px;
}